# General
.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules/
.env
.env.local
.env.*.local

# Lumen (Laravel Micro-framework)
bootstrap/cache/
storage/*.key
storage/framework/*
storage/logs/*
vendor/
composer.lock
public/storage
database/*.sqlite
*.sql
*.sqlite
.idea/
.vscode/
*.bak

# Node.js (Backend/Packages)
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml
coverage/
dist/
build/
.npm/
.npmrc
.nodemon-debug.json
.eslintcache
.parcel-cache
.pnpm-debug.log*
.vscode/
.tmp/
*.tsbuildinfo

# React (Vite)
node_modules/
dist/
.vite/
.vitepress/cache/
*.local
*.cache
*.swp
*.swo
*.swn
out/
coverage/
*.log
public/static
.env.development.local
.env.test.local
.env.production.local
